* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba,
            #5f1782);
    padding: 0 !important;

}

.img {
    width: 150px;
    height: 50px;
    padding-left: 20px;
}

.navbar-nav li {
    font-size: 18px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}

.fa-solid {
    color: #210101;
    font-size: 30px !important;
}

.navbar-toggler {
    outline: none !important;
}

.nav-item {
    padding-right: 10px;
}

.nav-item a:hover {
    color: #a517ba !important;
    border: 2px solid #fff;
    border-radius: 20px;
    margin: 4px;
    background: #0d0101;
    transition: all 0.3s ease-in;
}

/*Banner*/
#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5% !important;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px !important;
}

.fa-regular {
    font-size: 40px;
    margin: 10px;
}

#banner a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px !important;
}


.bottom-img {
    width: 100%;
}

/*sservices*/
#services {
    padding: 80px 0;
}

.service-img {
    width: 100px;
    margin-top: 20px;
}

.services h4 {
    text-transform: uppercase;
}

.title::after {
    content: "";
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}

#services .btn {
    background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
    border-radius: 20px;
    color: #fff !important;
}

/*About section*/
#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
    margin-left: 20px;
}

#about-us ul li {
    margin: 10px 0;
}

#about-us ul {
    margin-left: 20px;
}

/*testimonial*/
#testimonials {
    margin: 50px 0;
}

.testimonials {
    border-left: 4px solid #7b1798;
    margin: 45px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details {
    display: inline-block;
    font-size: 12px;
}

/* social-media */
#social-media {
    background-color: #f8f9fa;
    padding: 10px 0;
    padding-bottom: 40px;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

#social-media .social-icons img {
    width: 60px;
    transition: 0.5s ease-in-out;
}

#social-media .social-icons a img:hover {
    transform: translateY(-10px);
}

/**/
#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
    color: white;
}

.footer-img {
    width: 100%;
}

.footer-box img {
    width: 120px !important;
    margin-bottom: 10px;

}

.footer-box p {
    margin: 3px 0;
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, #a517ba, #5f1782) !important;
}

hr{
    background-color: #fff;
    height: 5px;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
}